@media (min-width: 600px){
  #para{
  background-color: white;
    margin-top: 10px;
  }
  .container{
  text-align: center;
  margin-top: 45px;
  width: 600px;
  height: 300px;
  background-color: lightgrey;
  }
input{
  width: 80%;
  height: 30px;
  }
.btn{
  margin-top: 10px;
}
  .senter, .r{
    display: none;
  }
}
@media (max-width: 600px){
  #para{
    width: 100%;
    background-color: white;
  }
  #wikilogo{
    height: 30px;
  }
  .container{
  
  margin-top: 15px;
  width: 100%;
  height: auto;
  background-color: lightgrey;
  }
  input{
    width: 70%;
    
  }
  .btn{
    display: none;
  }
}
